@model StudentCRUD.Models.Student

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm("Update", "Student", FormMethod.Post)) // Specify the action and controller
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Student</h4>
        <hr />

        <!-- Display the StudentID and include it in a hidden field to pass it to the controller -->
        <div class="form-group mb-3">
            @Html.LabelFor(model => model.StudentID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10 gap">
                @Html.DisplayFor(model => model.StudentID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.HiddenFor(model => model.StudentID) <!-- Hidden field to pass the ID -->
            </div>
        </div>

        <div class="form-group mb-3">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group mb-3">
            @Html.LabelFor(model => model.DOB, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.HiddenFor(model => model.DOB, new { @id = "hiddenDOB" })
                @Html.EditorFor(model => model.DOB, new { htmlAttributes = new { @class = "form-control datepicker", @max = DateTime.Now.ToString("yyyy-MM-dd"), autocomplete = "off" } })
                @Html.ValidationMessageFor(model => model.DOB, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<style>
    .gap {
        margin-top: 7px;
    }
</style>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('.datepicker').datepicker({
                maxDate: 0,
                format: 'dd-mm-yyyy',
                autoclose: true
            });

            var dobValue = $('#hiddenDOB').val();
            if (dobValue) {
                $('.datepicker').datepicker('setDate', dobValue);
            }
        });
    </script>
}
